

:root {
    --blue: #02b3e4;
    --dark-grey: #2d3c49;
    --light-grey: #7d97ad;
}

body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    padding-left: 5em;
    padding-right: 5em;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo {
    width: 60px;
    height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

header h1 {
    color: var(--dark-grey);
    text-transform: uppercase;
    margin: 0;
}

header h2 {
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 500;
    font-size: small;
    margin: 0;
    align-self: flex-end;
}

.divider {
    background-color: var(--light-grey);
    height: 2px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Content */

section {
    width: 100%;
}

.hero img {
    width: 100%;
}

.featured-title {
    width: 100%;
    font-size: 2.4em;
    font-weight: 500;
    color: var(--light-grey);
}

.boxes {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: -10px;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    margin: 10px;
}

.box img {
    width: 100%;
    height: auto;
}

.box-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 840px) {
    .box {
        flex: 0 0 100%;
    }
    body {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1000px) {
    .boxes {
        justify-content: space-evenly;
    }
    .box {
        flex: 1 0 30%;
    }
    body {
        padding-left: 10em;
        padding-right: 10em;
    }
}

@media screen and (min-width: 1400px) {
    .boxes {
        justify-content: space-evenly;
    }
    .box {
        flex: 1 0 30%;
    }
    body {
        padding-left: 10%;
        padding-right: 10%;
    }
}