:root {
    --blue: #02b3e4;
    --dark-grey: #2d3c49;
    --light-grey: #7d97ad;
}

body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo {
    width: 60px;
    height: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    width: 100%;
}

header h1 {
    color: var(--dark-grey);
    text-transform: uppercase;
    margin: 0;
}

header h2 {
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 500;
    font-size: small;
    margin: 0;
    align-self: flex-end;
}

.divider {
    background-color: var(--light-grey);
    height: 2px;
    width: 100%;
}

/* Repositories */

section {
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}
